---
import Layout from "../layouts/Layout.astro";
import ImageBanner from "../components/ImageBanner.astro";
import PrimaryButton from "../components/Buttons/PrimaryButton.astro";
import Divider from "../components/Divider.astro";
import SecondaryButton from "../components/Buttons/SecondaryButton.astro";
import CenterContainer from "../components/containers/CenterContainer.astro";
import Carrousel from "../components/Carrousel.astro";
import CloudPath from "../components/paths/CloudPath.astro";
import CardsData from "../../public/data/cards.json";
import Card from "../components/Card.astro";
import RoatedAnimated from "../AnimatedComponents/RoatedAnimated.vue";
---

<Layout
  title="Welcome to Astro."
  backgoundImg="/paginas-web-en-lima-tecnovedades.webp"
>
  <main>
    <section>
      <h1>Ponemos tu negocio en Internet</h1>
      <h3>
        <span>EN TAN SOLO</span>
        <span id="circle-animated">
          7 DIAS
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 500 150"
            preserveAspectRatio="none"
            ><path
              class="animated-circled-dash"
              id="circle-animated"
              d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7"
            ></path></svg
          >
        </span>
      </h3>
      <div class="divider"><span></span></div>
      <div>
        <PrimaryButton>
          <a href=""
            ><i
              aria-hidden="true"
              class="fab fa-whatsapp"
              style="margin:0px 4px;"></i>Comunicate con un asesor</a
          >
        </PrimaryButton>
      </div>
    </section>
    <CenterContainer>
      <ImageBanner
        imageSrc="./diseno-web-conduce-crecimiento.webp"
        imgDescription="Haz crecer tu negocio"
        reverse={false}
      >
        <h3 slot="bnTitle">DISEÑO WEB PROFESIONAL</h3>
        <div slot="bnSeparator" class="separator-img">
          <img
            src="https://tecnovedadesweb.com/wp-content/uploads/2022/09/linea.png"
            width="290"
            height="58"
            alt=""
          />
        </div>
        <div>
          <p class="scroll-translate">
            Entendemos que la motivación principal de nuestros clientes es
            VENDER, por ello vamos directo al grano y te ayudamos a destacar
            ante tu competencia mediante una
          </p>
          <p class="scroll-translate">Página web profesional.</p>
          <p class="scroll-translate">
            Que te permitirá mostrar tus productos y servicios de manera eficaz,
            manejar ofertas y promociones, y lograr que tus clientes compren de
            manera sencilla a través de los diferentes medios de pago o ponerse
            en contacto contigo para poder requerir tus servicios de manera
            efectiva.
          </p>
        </div>
        <SecondaryButton slot="bnFooter">
          Conoce nuestros trabajos
        </SecondaryButton>
      </ImageBanner>
    </CenterContainer>
    <Divider>¿Porque Elegirnos?</Divider>
    <CenterContainer>
      <div
        style={{
          "background-image":
            "linear-gradient(180deg, #FFFFFF 52%, #D9E5FF 100%)",
          position: "relative",
          "min-height": "50dvh",
        }}
      >
        <ImageBanner
          imageSrc="./Ponemos-Tu-negocio-en-Google.webp"
          imgDescription="Tu negocio en interner en 5 dias"
          reverse
        >
          <div>
            <div style={{ display: "flex" }}>
              <b style={{ display: "inline" }}>“</b>
              <p style={{ display: "inline", paddingLeft: "0px" }}>
                No solo nos limitamos a desarrollar tu página web, te brindamos
                asesoría para que puedas obtener nuevos clientes.
              </p>
            </div>

            <ul class="list-bn">
              <li>
                <i
                  aria-hidden="true"
                  class="fas fa-star"
                  style={{ color: "#FFA600", marginRight: "1em" }}></i> Colocamos
                tu negocio en Google
              </li>
              <li>
                <i
                  aria-hidden="true"
                  class="fas fa-star"
                  style={{ color: "#FFA600", marginRight: "1em" }}></i> Tus números
                de contacto y correo serán visibles
              </li>
              <li>
                <i
                  aria-hidden="true"
                  class="fas fa-star"
                  style={{ color: "#FFA600", marginRight: "1em" }}></i> Se mostrará
                una ficha con la información de tu negocio
              </li>
              <li>
                <i
                  aria-hidden="true"
                  class="fas fa-star"
                  style={{ color: "#FFA600", marginRight: "1em" }}></i> Aparecerá
                el mapa para que puedan encontrar facilmente
              </li>
            </ul>
          </div>
          <div class="google-container" slot="bnFooter">
            <img src="./logo-Google.webp" alt="Logo google" />
          </div>
        </ImageBanner>
        <CloudPath fill="#fff" />
      </div>
    </CenterContainer>
    <CenterContainer>
      <ImageBanner
        imageSrc="./213dasdgdasfdasd.webp"
        imgDescription="Tecnovedades Agencia de Paginas web"
        reverse={false}
      >
        <h3 slot="bnTitle">ACERCA DE NOSOTROS</h3>
        <div>
          <p>
            En Tecnovedades Web nos dedicamos al <strong
              >diseño de páginas web en Lima, Perú.</strong
            >
          </p>
          <p>
            <strong>¡Amamos lo que hacemos!</strong> Te ayudaremos a que puedas insertarte
            en el mundo digital para poder promocionar de manera eficaz tus productos
            y servicios, llegando a nuevos clientes potenciales, aumentando de esta
            manera tus ventas y tu visibilidad en el mercado.
          </p>
        </div>
        <SecondaryButton slot="bnFooter">
          Conoce mas de nosotros
        </SecondaryButton>
      </ImageBanner>
      <div class="experience">
        <h1>+ 8 anios en el Mercado</h1>
        <svg
          class="elipse"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1000 100"
          preserveAspectRatio="none"
        >
          <path
            class="elementor-shape-fill"
            d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"
          ></path>
        </svg>
      </div>
    </CenterContainer>
    <Divider>¿QUE INCLUYEN NUESTROS TRABAJOS?</Divider>
    <div class="services-list-container">
      <ul class="services-list">
        <ImageBanner
          imageSrc="./responsive-diseno-web-tecnovedadesweb-1-1.webp"
          imgDescription="diseno responsivo"
          reverse={false}
        >
          <h3 slot="bnTitle">DISEÑO RESPONSIVE</h3>
          <p>
            Su página web se adaptará a los diferentes dispositivos como
            tablets, celulares, laptops y computadoras y se seguirá viendo de
            manera óptima.
          </p>
        </ImageBanner>
        <ImageBanner
          imageSrc="./panel-administrable-tecnovedadesweb.webp"
          imgDescription="panel de administracion de paginas web"
          reverse={false}
        >
          <h3 slot="bnTitle">DOMINIO</h3>
          <p>
            Te brindamos una dirección web (.com) para que visiten tu página
            desde cualquier navegador, por ejemplo: minegocio.com
          </p>
        </ImageBanner>
        <ImageBanner
          imageSrc="./correo-corporativo-tecnovedadesweb.webp"
          imgDescription="correo corporativo"
          reverse={false}
        >
          <h3 slot="bnTitle">CORREO CORPORATIVO</h3>
          <p>
            Cuentas corporativas gratuitas con su propio nombre de dominio,
            olvídese de responder a sus clientes y proveedores desde una cuenta
            de Hotmail o Gmail, ahora lo podrá hacer de manera más profesional,
            por ejemplo contacto@minegocio.com
          </p>
        </ImageBanner>
        <ImageBanner
          imageSrc="./responsive-diseno-web-tecnovedadesweb-1-1.webp"
          imgDescription="responsiuve diseno"
          reverse={false}
        >
          <h3 slot="bnTitle">PANEL ADMINISTRABLE</h3>
          <p>
            Usted podrá agregar contenido y editar su página web de manera
            sencilla sin conocimientos de programación.
          </p>
        </ImageBanner>
        <ImageBanner
          imageSrc="./panel-administrable-tecnovedadesweb.webp"
          imgDescription="panel de administracion web"
          reverse={false}
        >
          <h3 slot="bnTitle">HOSTING</h3>
          <p>
            Brindamos un espacio de almacenamiento en donde irá alojado el
            contenido de su página web como textos, imágenes y sus correos.
          </p>
        </ImageBanner>
        <div class="phone-image scroll-rotate">
            <img
                src="./diseno-responsive-tecnovedadesweb.webp"
                alt=""
                width="350"         
              />
        </div>
        
        <ImageBanner
          imageSrc="./certificado-ssl-tecnovedadesweb.webp"
          imgDescription="certificado ssl"
          reverse={false}
        >
          <h3 slot="bnTitle">CERTIFICADO DE SEGURIDAD SSL</h3>
          <p>
            Tu página web tendrá un certificado de seguridad SSL para que los
            datos de su página web viajen de manera encriptada brindándole asi
            mayor seguridad a tus clientes.
          </p>
        </ImageBanner>
      </ul>
      <div
        id="eligetuweb"
        style={{
          "background-image":
            "linear-gradient(180deg, #FFFFFF 52%, #E5ECFC 100%);",
          position: "relative",
          padding: "20px 0px",
          // "min-height": "50dvh",
        }}
      >
        <div class="paths">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 283.5 27.8"
            preserveAspectRatio="none"
          >
            <path
              class="elementor-shape-fill"
              d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M269.6,18c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C267.7,18.8,269.7,18,269.6,18z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M227.4,9.8c-0.2-0.1-4.5-1-9.5-1.2c-5-0.2-12.7,0.6-12.3,0.5c0.3-0.1,5.9-1.8,13.3-1.2	S227.6,9.9,227.4,9.8z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M204.5,13.4c-0.1-0.1,2-1,3.2-1.1c1.2-0.1,2,0,2,0.3c0,0.3-0.1,0.5-1.6,0.4	C206.4,12.9,204.6,13.5,204.5,13.4z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M201,10.6c0-0.1-4.4,1.2-6.3,2.2c-1.9,0.9-6.2,3.1-6.1,3.1c0.1,0.1,4.2-1.6,6.3-2.6	S201,10.7,201,10.6z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M154.5,26.7c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C152.6,27.5,154.6,26.8,154.5,26.7z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M41.9,19.3c0,0,1.2-0.3,2.9-0.1c1.7,0.2,5.8,0.9,8.2,0.7c4.2-0.4,7.4-2.7,7-2.6	c-0.4,0-4.3,2.2-8.6,1.9c-1.8-0.1-5.1-0.5-6.7-0.4S41.9,19.3,41.9,19.3z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M75.5,12.6c0.2,0.1,2-0.8,4.3-1.1c2.3-0.2,2.1-0.3,2.1-0.5c0-0.1-1.8-0.4-3.4,0	C76.9,11.5,75.3,12.5,75.5,12.6z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M15.6,13.2c0-0.1,4.3,0,6.7,0.5c2.4,0.5,5,1.9,5,2c0,0.1-2.7-0.8-5.1-1.4	C19.9,13.7,15.7,13.3,15.6,13.2z"
            ></path>
          </svg>
          <div class="main-cards">
            <h3>ELIGE EL MODELO DE PÁGINA WEB QUE NECESITAS</h3>
            <h4>Y LLEVA TU NEGOCIO A OTRO NIVEL</h4>
            <img
              src="https://tecnovedadesweb.com/wp-content/uploads/2022/09/linea.png"
              width="290"
              height="58"
              alt=""
            />
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 283.5 27.8"
            preserveAspectRatio="none"
          >
            <path
              class="elementor-shape-fill"
              d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M269.6,18c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C267.7,18.8,269.7,18,269.6,18z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M227.4,9.8c-0.2-0.1-4.5-1-9.5-1.2c-5-0.2-12.7,0.6-12.3,0.5c0.3-0.1,5.9-1.8,13.3-1.2	S227.6,9.9,227.4,9.8z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M204.5,13.4c-0.1-0.1,2-1,3.2-1.1c1.2-0.1,2,0,2,0.3c0,0.3-0.1,0.5-1.6,0.4	C206.4,12.9,204.6,13.5,204.5,13.4z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M201,10.6c0-0.1-4.4,1.2-6.3,2.2c-1.9,0.9-6.2,3.1-6.1,3.1c0.1,0.1,4.2-1.6,6.3-2.6	S201,10.7,201,10.6z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M154.5,26.7c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C152.6,27.5,154.6,26.8,154.5,26.7z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M41.9,19.3c0,0,1.2-0.3,2.9-0.1c1.7,0.2,5.8,0.9,8.2,0.7c4.2-0.4,7.4-2.7,7-2.6	c-0.4,0-4.3,2.2-8.6,1.9c-1.8-0.1-5.1-0.5-6.7-0.4S41.9,19.3,41.9,19.3z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M75.5,12.6c0.2,0.1,2-0.8,4.3-1.1c2.3-0.2,2.1-0.3,2.1-0.5c0-0.1-1.8-0.4-3.4,0	C76.9,11.5,75.3,12.5,75.5,12.6z"
            ></path>
            <path
              class="elementor-shape-fill"
              d="M15.6,13.2c0-0.1,4.3,0,6.7,0.5c2.4,0.5,5,1.9,5,2c0,0.1-2.7-0.8-5.1-1.4	C19.9,13.7,15.7,13.3,15.6,13.2z"
            ></path>
          </svg>
        </div>

        <ul class="cards-container">
          {
            CardsData.map((card) => (
              <Card
                description={card.description}
                imageUrl={card.imageUrl}
                title={card.tiltle}
              />
            ))
          }
        </ul>
      </div>
      <div>
        <svg
          class="botom-path"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 283.5 27.8"
          preserveAspectRatio="none"
        >
          <path
            class="elementor-shape-fill"
            d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z"
          ></path>
          <path
            class="elementor-shape-fill"
            d="M269.6,18c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C267.7,18.8,269.7,18,269.6,18z"
          ></path>
          <path
            class="elementor-shape-fill"
            d="M227.4,9.8c-0.2-0.1-4.5-1-9.5-1.2c-5-0.2-12.7,0.6-12.3,0.5c0.3-0.1,5.9-1.8,13.3-1.2	S227.6,9.9,227.4,9.8z"
          ></path>
          <path
            class="elementor-shape-fill"
            d="M204.5,13.4c-0.1-0.1,2-1,3.2-1.1c1.2-0.1,2,0,2,0.3c0,0.3-0.1,0.5-1.6,0.4	C206.4,12.9,204.6,13.5,204.5,13.4z"
          ></path>
          <path
            class="elementor-shape-fill"
            d="M201,10.6c0-0.1-4.4,1.2-6.3,2.2c-1.9,0.9-6.2,3.1-6.1,3.1c0.1,0.1,4.2-1.6,6.3-2.6	S201,10.7,201,10.6z"
          ></path>
          <path
            class="elementor-shape-fill"
            d="M154.5,26.7c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C152.6,27.5,154.6,26.8,154.5,26.7z"
          ></path>
          <path
            class="elementor-shape-fill"
            d="M41.9,19.3c0,0,1.2-0.3,2.9-0.1c1.7,0.2,5.8,0.9,8.2,0.7c4.2-0.4,7.4-2.7,7-2.6	c-0.4,0-4.3,2.2-8.6,1.9c-1.8-0.1-5.1-0.5-6.7-0.4S41.9,19.3,41.9,19.3z"
          ></path>
          <path
            class="elementor-shape-fill"
            d="M75.5,12.6c0.2,0.1,2-0.8,4.3-1.1c2.3-0.2,2.1-0.3,2.1-0.5c0-0.1-1.8-0.4-3.4,0	C76.9,11.5,75.3,12.5,75.5,12.6z"
          ></path>
          <path
            class="elementor-shape-fill"
            d="M15.6,13.2c0-0.1,4.3,0,6.7,0.5c2.4,0.5,5,1.9,5,2c0,0.1-2.7-0.8-5.1-1.4	C19.9,13.7,15.7,13.3,15.6,13.2z"
          ></path>
        </svg>
      </div>
    </div>
    <div
      style={{
        position: "relative",
        width: "100%",
        minHeight: "600px",
        backgroundColor: "var(--fg-color-1)",
      }}
    >
      <CenterContainer>
        <ImageBanner
          imageSrc="./img-fondo-despega-tu-negocio-tecnovedadesweb.png"
          imgDescription="tecnovedades impulsamos tu negocio "
          reverse={false}
          imageClass="scroll-rotate-2"
        >
          <h3 slot="bnTitle">HAZ DESPEGAR TU NEGOCIO</h3>
          <div>
            <p>
              En Tecnovedades Web colocamos tu negocio en el mundo digital.
              Conoce los beneficios que obtendrás:
            </p>
            <ul>
              <li>Obten mayor alcanze</li>
              <li>Incrementa tus ventas</li>
              <li>Llega a nuevos clientes</li>
            </ul>
          </div>
          <PrimaryButton>Comunicate con un asesor</PrimaryButton>
        </ImageBanner>
      </CenterContainer>
      <CloudPath fill="#E5ECFC" />
    </div>
  </main>
  <Divider>
    NUESTROS TRABAJOS <div>
      <span> NUESTRA MEJOR CARTA DE PRESENTACIÓN</span>
    </div>
  </Divider>
  <div class="carrousel-container">
    <Carrousel />
    <PrimaryButton>Ver mas trabajos</PrimaryButton>
  </div>
</Layout>

<script>
  let el = document.querySelector("#circle-animated");
  setInterval(() => {
    if (el) {
      if (el.className === "animated-circled-dash")
        el.className = "animated-circled-hide";
      else el.className = "animated-circled-dash";
    }
  }, 4000);
</script>
<style>
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    section {
      width: 70%;
      height: 750px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h3 {
        letter-spacing: -0.5px;
        text-transform: uppercase;
        margin: 20px auto;
        & > h1 {
          color: var(--fg-color-1);
        }
      }
      h1 {
        color: var(--fg-color-1);
      }
    }
  }
  span {
    font-size: inherit;
    color: yellow;
    position: relative;
    & > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 40px;
    }
  }
  #circle-animated {
    fill: none;
    stroke: #ff5a00;

    font-weight: 600;
    stroke-width: 9px;
  }
  .divider {
    display: flex;
    justify-content: center;
    height: 3px;
    margin-bottom: 20px;
    padding: 20px;
    & > span {
      height: 100%;
      width: 3rem;
      background-color: white;
    }
  }
  .separator-img {
    img {
      width: 18%;
      height: auto;
    }
  }

  .animated-circled-dash {
    & > svg > path {
      animation: head-circle-dash;
      animation-duration: 1.2s;
      animation-iteration-count: 1;
    }
  }
  .animated-circled-hide {
    & > svg > path {
      opacity: 1;
      stroke-dasharray: 1500 1500;
      animation: hide-highlight 0.4s forwards;
      animation-iteration-count: 1;
    }
  }

  .services-list-container {
    background-color: var(--fg-color-1);
    width: 100dvw;
    text-align: center;
  }
  .services-list {
    max-width: 1140px;
    margin: 40px auto;
    padding: 0;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;
    header {
      width: 20%;
      img {
        width: 100%;
      }
    }
    main {
      width: 80%;
      font-family: var(--primary-font);
      h3 {
        font-size: var(--size-large);
        color: var(--bg-color-1);
      }
    }
    p {
      overflow-y: hidden;
    }

    & > .phone-image {
      grid-row-start: 2 span;
      @media (max-width: 767px){
        transform: scale(0.7);
      }
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      position: relative;
      width: 100dvw;
      article {
        gap: 0px;
      }
      h3 {
        text-align: center;
        font-size: 23px !important;
      }
      img {
        margin: 0 auto;
        grid-row-start: 7;
        width: 70%;
      }
      article {
        /* width: 100% ; */
        height: 100%;
      }
    }
  }
  .google-container {
    height: 20%;
    text-align: end;
    img {
      width: 18%;
      height: auto;
    }
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 2.5em;
    width: 60%;
    margin: 0 auto;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      width: auto;
      padding: 10px;
    }
  }
  .carrousel-container {
    width: 100%;
    background-color: var(--fg-color-1);
    text-align: center;
    padding: 30px 0px;
  }
  .elipse {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: rotate(180deg);
    path {
      fill: #ffffff;
    }
  }
  .experience {
    position: relative;
    height: 150px;
    overflow-y: hidden;
    background-color: #d9e5ff;
    h1 {
      text-align: center;
      z-index: 2;
      align-items: center;
      transform: translateY(25px);
    }
  }
  path {
    fill: #e5ecfc;
  }
  .botom-path {
    transform: translateY(-12px);
  }
  .paths {
    margin: 20px auto;
    position: relative;
    svg:first-child {
      transform: rotate(180deg);
    }
    svg:last-child {
      transform: translateY(-10px);
    }
    .text {
    }
  }
  .main-cards {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.89em;
    right: 0;
    left: 0;
    top: 40%;
    z-index: 2;
    transform: translateY(-40px);
    font-family: var(--primary-font);
    img {
      width: 10%;
      height: auto;
    }
    h3 {
      color: var(--fg-color-3);
    }
    h4 {
      margin: 0;
      font-size: 1.5em;
    }
  }
  b {
    font-size: 89px;
    font-family: "Helveltica", sans-serif;
    transform: translateY(20px);
  }
  .list-bn {
    list-style-type: none;
  }
</style>
